@model SASSMMS.Domain.Entities.School

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
