@model IEnumerable<SASSMMS.Domain.Entities.Qualification>

@{
    ViewBag.Title = "Qualifications";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QualificationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QualificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QualificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QualificationId })
        </td>
    </tr>
}

</table>
