@model IEnumerable<SASSMMS.Domain.Entities.Subcity>

@{
    ViewBag.Title = "Subcities";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubcityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Region.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubcityName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubcityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubcityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubcityId })
        </td>
    </tr>
}

</table>
