@model SSWebUI.Models.MemberModel
@using Kendo.Mvc.UI
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-12 col-md-5">
                <div class="box box-body">

                    <div class="form-group">
                        <label class="control-label col-md-4">House Number</label>
                        <div class="col-md-8">
                            @Html.Kendo().TextBox().Name("textbox").Value("Input")
                            @*@Html.EditorFor(model => model.HouseNo, new {htmlAttributes = new {@class = "form-control"}})*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">City</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Home Phone</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Mobile Number</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="box box-body">
                    <div class="form-group">
                        <label class="control-label col-md-4">Office Phone</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OfficePhone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-4">P.O.Box</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PoBox, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Special Address</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.SpecialAddress, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Create" class="btn btn-default btn btn-primary" />
                        </div>

               
                    </div>

                </div>
            </div>
        </div>
    </div>

}