@model SASSMMS.Domain.Entities.Woreda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Woreda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subcity.SubcityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcity.SubcityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WoredaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
